@font-face {
	font-family: "Josefin Sans";
	src: url("./../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
:root {
	/* forms border radius value */
	--f-b-r: 5px;

	--forms-width: 70%;
	--forms-margin-bottom: 1rem;
	--primary-bright-blue: hsl(220, 98%, 61%);
	--very-light-gray: hsl(0, 0%, 98%);
	--very-light-grayish-blue: hsl(236, 33%, 92%);
	--light-grayish-blue: hsl(233, 11%, 84%);
	--dark-grayish-blue: hsl(236, 9%, 61%);
	--very-dark-grayish-blue: hsl(235, 19%, 35%);
	--app-width: 87%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	color: var(--very-dark-grayish-blue);
}

body {
	background-color: var(--very-light-gray);
}

/* 
HEADER 
*/
header {
	width: 100vw;
	min-height: 30vh;

	background-image: url("./../images/bg-mobile-light.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	color: white;
}

/* title and theme toggler container */
header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 100%;
	position: relative;
	top: 2.5rem;
	width: var(--app-width);
	margin: 0 auto;
}
header h1 {
	display: inline;
	margin: 0;

	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 11px;
}
.toggle-dark-theme{
	height: 1.2rem;
	width: 1.2rem;
	padding: 0;

	background-size: contain;
	background-image: url('./../images/icon-moon.svg');
	background-repeat: no-repeat;
	background-position: center;
}
main {
	width: var(--app-width);
	margin: 0 auto;
	position: relative;
	top: 8rem;
}

/*  
FORMS BORDER RADIUS 
*/
.add-item-form,
.tasks-filter {
	border-radius: var(--f-b-r);
}
.mark-form-item {
	border-radius: var(--f-b-r) var(--f-b-r) 0 0;
	box-shadow: 0px 40px 175px rgb(136 136 136 / 30%), -5px 0px 20px rgb(136 136 136 / 2%);
}

/* 
FORMS LAYOUT
 */
.add-item-form,
.mark-form-item,
.tasks-filter,
.tasks-state {
	margin: 0 auto;
	background-color: white;
}
.add-item-form,
.mark-todo-tab,
.tasks-state {
	margin-bottom: var(--forms-margin-bottom);
}

/* 
STATE COMPONENT
 */
.tasks-state {
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 var(--f-b-r) var(--f-b-r);
	padding: 1rem;
	font-weight: bold;
	font-size: 0.8rem;
	box-shadow: 0px 20px 30px rgb(136 136 136 / 30%);
}
.tasks-state > * {
	color: var(--dark-grayish-blue);
	font-weight: 700;
}
.tasks-state > p {
	margin: 0rem;
}
.tasks-filter {
	display: flex;
	justify-content: center;
	padding: 1rem;
	font-weight: bold;
}
.instructions {
	text-align: center;
	margin-top: 2rem;
	color: var(--dark-grayish-blue);
	font-weight: bolder;
}

/* 
INPUTS
 */
.add-item-form::placeholder {
	font-size: 1rem;
}
.add-item-form > input {
	caret-color: var(--primary-bright-blue);
}
.add-item-form > input {
	width: 100%;
	border: none;
}
.add-item-form > input:focus {
	outline: none;
}
.add-item-form,
.single-task {
	padding: 1rem;
}
.single-task label {
	display: flex;
	align-content: center;
	align-items: center;
}
.single-task button {
	visibility: hidden;
}
.single-task:hover > button {
	visibility: visible;
}
.single-task > div {
	display: flex;
}
.tasks-filter {
	padding: 1rem 4rem;
	display: flex;
	justify-content: space-evenly;
}
.tasks-filter label {
	font-size: 1rem;
	position: relative;
	color: var(--dark-grayish-blue);
}
.tasks-filter input {
	position: absolute;
}
.tasks-filter label.checked {
	color: var(--primary-bright-blue);
}
input[type="radio"] {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.1;
	background-color: blue;
}
.single-task {
	border-bottom: 2px solid var(--very-light-gray);
	display: flex;
	justify-content: space-between;
	font-size: 1.1rem;
}

.single-task label {
	font-size: 0.9em;
}
.add-item-form {
	display: flex;
}
.add-item-form > div {
	content: "";
	margin-right: 0.5rem;
	padding: 10px;
	border: 1px solid var(--light-grayish-blue);
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
}
input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 10px;
	background-color: white;
	border: 1px solid var(--light-grayish-blue);
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	margin-right: 0.5rem;
	position: relative;
}
/* cursors */
.single-task-done label {
	cursor: default;
}
button:hover,
input[type="radio"],
input[type="checkbox"]:hover,
.single-task label {
	cursor: pointer;
}
input[type="checkbox"]:active {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.1rem;
	border-color: white;
	background-image: linear-gradient(
		to bottom right,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);
}
input[type="checkbox"]:active:after {
	display: block;
	content: "";
	background-color: white;
	border-radius: 100%;
	color: white;
	padding: 9px;
}
input[type="checkbox"]:active,
input[type="checkbox"]:checked {
	background: linear-gradient(
		to right bottom,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);
}
input[type="checkbox"]:checked + label {
	text-decoration: line-through;
	color: var(--light-grayish-blue);
}
input[type="checkbox"]:checked:before {
	position: absolute;
	content: url("./../images/icon-check.svg");
	top: 2px;
	right: -5px;
	width: 100%;
	height: 100%;
}
/* 
BUTTONS 
*/
button {
	background: transparent;
	border: 0px solid transparent;
}

button:hover {
	background: transparent;
	border: 0px solid transparent;
}

button:active {
	outline: none;
	border: none;
}

button:focus {
	outline: 0;
}
.single-task button svg {
	transform: scale(80%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 1rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
footer {
	margin-top: 10rem;
}
@media screen and (min-width: 1440px) {
	header {
		background-image: url("./../images/bg-desktop-light.jpg");
		min-height: 60vh;
		background-position: 45% 20%;
	}
	header h1 {
		font-size: 2.3rem;
		letter-spacing: 26px;
	}
	header > div,
	main {
		width: 38%;
		margin: 0 auto;
	}
	header > div {
    margin-top: 4rem;
	}
	main {
		top: 10rem;
		border-radius: var(--f-b-r);
		position: relative;
	}
	.add-item-form {
		margin-bottom: 1.5rem;
	}
	.tasks-state {
		font-size: 0.75rem;
		margin-bottom: 0;
		border-bottom: 2px solid var(--very-light-gray);
		border-radius: 0;
	}
	.tasks-filter {
		border-radius: 0 0 var(--f-b-r) var(--f-b-r);
		position: absolute;
		width: 30%;
		bottom: 0%;
		left: 1px;
		right: 30%;
		left: 30%;
	}
	.tasks-filter label	{
		margin-right: 1rem;
	}
	footer {
		margin-top: 12rem;
	}
	.instructions {
		margin: unset;
	}
	.attribution {
		margin-top: 1rem;
	}
}
